# =========================
# Backend (F# / .NET)
# =========================
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.dbmdl
*.jfm
appsettings.Development.json
appsettings.Secret.json

# =========================
# Frontend (React / Vite)
# =========================
node_modules/
dist/
dist-ssr/
build/
*.local
.eslintcache

# =========================
# Variáveis de Ambiente
# =========================
.env
.env.*
!.env.example

# =========================
# Sistema Operacional / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json